<form [formGroup]="form" class="mt-2 d-flex justify-content-around align-items-center row">
	<div class="col-md-2 text-right font-weight-bold">
		<label for="id">Id:</label>
	</div>
	<div class="col-md-3">
		<input formControlName="id" type="number" size="2" class="form-control without-arrows" id="id">
	</div>

	<div class="col-md-2 text-right font-weight-bold">
		<label for="cantidad">Cantidad:</label>
	</div>
	<div class="col-md-2">
		<input formControlName="cantidad" type="number" size="2" class="form-control without-arrows" id="cantidad">
	</div>
	<div class="col-md-3">
		<span class="inline" (click)="agregarAEnvio()" class="btn btn-dark"> Agregar </span>
	</div>
</form>

<h4 class="text-center mt-2">En stock</h4>
<table class="table border-0 mb-2 w-100">
	<thead class="thead-gray">
		<tr>
			<th>
				Id
			</th>
			<th>
				Nombre
			</th>
			<th>
				Categoría
			</th>
			<th>
				Cantidad
			</th>
			<th>
				Vencimiento
			</th>
			<th>
				Peso (kg/lt)
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let producto of this.productosEnStock;let i=index">
			<td>
				{{i+1}}
			</td>
			<td>
				{{producto.tipoProducto.nombre}}
			</td>
			<td>
				{{producto.tipoProducto.categoria.nombre}}
			</td>
			<td>
				{{producto.cantidad}}
			</td>
			<td>
				{{producto.vencimiento| date: 'dd/MM/yyyy'}}
			</td>
			<td>
				{{producto.tipoProducto.peso}}
			</td>
		</tr>
	</tbody>
</table>

<h4 class="text-center mt-2">Agregados al envio</h4>
<table class="table mb-2" style="width:100%">
	<thead class="thead-gray">
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Vencimiento
			</th>
			<th>
				Cantidad
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let producto of this.productosEnEnvio">
			<td>
				{{producto.tipoProducto.nombre}}
			</td>
			<td>
				{{producto.vencimiento| date: 'dd/MM/yyyy'}}
			</td>
			<td>
				{{producto.cantidad}}
			</td>
		</tr>
	</tbody>
</table>