<div class="card border-secondary mb-4 container" id="contenedor">
    <div class="alert alert-dismissible alert-dark ml-4 mr-4 mt-5">Datos del donante </div>
    <div class="card-body ml-3 mr-3">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="container">

            <div class="form-group">
                <label for="labelDireccion">CUIL</label>
                <input formControlName="cuil" type="text" class="form-control" formControlName="cuil" id="cuil"
                    value="">
                <div *ngIf="cuil.invalid && cuil.touched">
                    <small class="text-danger">Debe ingresar el CUIL</small>
                </div>
            </div>

            <div class="form-group">
                <label for="labelDireccion">Dirección</label>
                <input formControlName="ubicacion" type="text" class="form-control" formControlName="ubicacion"
                    id="ubicacion" value="">
                <div *ngIf="direccion.invalid && direccion.touched">
                    <small class="text-danger">Debe ingresar la dirección</small>
                </div>
            </div>

            <div class="form-group">
                <label for="labelDireccion">Email</label>
                <input formControlName="email" type="text" class="form-control" formControlName="email" id="email"
                    value="">
                <div *ngIf="email.invalid && email.touched  ">
                    <small class="text-danger">Debe ingresar un correo con el formato mi@correo.com</small>
                </div>
            </div>

            <div class="card-header text-center p-3 mt-4 mb-4">
                <button class="btn mr-2 btn-orange " type="submit">Modificar</button>
                <a routerLink="/home" class="ml-2 btn btn-orange">Volver</a>
            </div>

            
        </form>
    </div>
</div>