<div *ngIf="!(abortarTraslado==undefined)" class="modal fade p-3 mb-5" id="modalCancelarTraslado" tabindex="-1"
    role="dialog" aria-labelledby="modalCancelarTraslado" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Estás seguro de que deseas cancelar el traslado?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button class="btn btn-danger" data-dismiss="modal" (click)="onConfirmarCancelacionDeTraslado()">Si,
                    Cancelar el traslado</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!(trasladoAEditar==undefined)" class="modal fade p-3 mb-5" id="modalEditarTraslado" tabindex="-1"
    role="dialog" aria-labelledby="modalEditarTraslado" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar la información del traslado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <label class="" for="">Descripción</label>
                    <input type="text" class="form-control" formControlName="descripcion"
                        value="{{this.trasladoAEditar.descripcion}}">
                    <div *ngIf="descripcion.invalid && descripcion.touched">
                        <small class="text-danger">Debe ingresar una descripción</small>
                    </div>
                    <label class="mt-1" for="">Peso</label>
                    <input type="text" class="form-control" formControlName="peso"
                        value="{{this.trasladoAEditar.peso}}">
                    <div *ngIf="peso.invalid && peso.touched">
                        <small class="text-danger">Debe ingresar un peso</small>
                    </div>
                    <label class="mt-1" for="">Volumen total</label>
                    <input type="text" class="form-control" formControlName="volumenTotal"
                        value="{{this.trasladoAEditar.volumenTotal}}">
                    <div *ngIf="volumenTotal.invalid && volumenTotal.touched">
                        <small class="text-danger">Debe ingresar un volumen total</small>
                    </div>
                    <label class="mt-1" for="">Fecha de vencimiento del primer producto</label>
                    <input type="date" class="form-control" formControlName="fechaVencimientoProductos"
                        value="{{this.trasladoAEditar.fechaVencimientoProductos | date: 'yyyy-MM-dd'}}">
                    <div *ngIf="fechaVencimientoProductos.invalid && fechaVencimientoProductos.touched">
                        <small class="text-danger">Debe ingresar una fecha de vencimiento</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-danger" data-dismiss="modal"
                    (click)="onGuardarCambiosTraslado()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="card border-secondary container" id="contenedor">
    <section class="card-header text-center bg-gradient-dark rounded-top text-white">
		<h3>Listado de traslados que aún no tienen un voluntario asignado</h3>
    </section>
    <section class="card-body">
        <div class="container border rounded">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Descripción</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Volumen</th>
                        <th scope="col">Fecha de vencimiento</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let traslado of traslados| paginate: { itemsPerPage: 10, currentPage: p }"
                    class="text-center">
                    <tr [style.background]="(traslado[7].getTime() > this.fechaDeHoy)? '#cfffcf':'#ffcbc9'"
                        class="bg-notificar">
                        <td>{{traslado[4]}}</td>
                        <td>{{traslado[0]}}</td>
                        <td>{{traslado[1]}}</td>
                        <td>{{traslado[6].peso}}</td>
                        <td>{{traslado[6].volumenTotal}}</td>
                        <td>{{traslado[6].fechaVencimientoProductos | date: 'dd/MM/yyyy'}}</td>
                        <td class="d-flex justify-content-center border-0">
                            <button type="button" (click)="this.buscarVoluntariosParaTraslado(traslado);" class="btn btn-primary mx-1 p-1"
                                title="Buscar voluntarios">🔍</button>
                            <button type="button" data-toggle="modal" data-target="#modalEditarTraslado"
                                (click)="this.editarTraslado(traslado[6]);" class="btn btn-primary mx-1 p-1"
                                title="Editar descripción">✏️</button>
                            <button type="button" data-toggle="modal" data-target="#modalCancelarTraslado"
                                (click)="this.cancelarTraslado(traslado[6]);" class="btn btn-primary mx-1 p-1"
                                title="Cancelar traslado">❌</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
        </div>
    </section>
    <section class="card-footer d-flex justify-content-center p-3 mt-4">
        <button class="btn btn-outline-orange" (click)="this._location.back()">Volver</button>
    </section>
</div>