<div class="container border rounded bg-light border-2">
    <div class="pt-2 px-2">
        <div class="row text-center">
            <div class="col pb-2">

                <div (click)="router.navigate(['/traslados-pendientes']);"
                    class=" container p-3 border rounded-lg bg-dark" title="Ver los traslados pendientes de entrega"
                    style="cursor: pointer;">
                    <div class="text-white mb-2">+ Ver traslados pendientes de entrega</div>
                    <span class='inline mt-3'>
                        <fa-icon class="" [icon]=faShippingFast size="8x" [fixedWidth]="true"
                            [styles]="{'color': '#f94116'}"></fa-icon>
                    </span>

                </div>

            </div>
            <div (click)="router.navigate(['/nuevo-envio']);" class="col pb-2"
                title="Crear un nuevo envio para beneficiario" style="cursor: pointer;">
                <div class="container p-3 border rounded-lg bg-dark">
                    <div class="text-white mb-2">+ Crear envio para beneficiario</div>
                    <span class='inline'>
                        <fa-icon class="" [icon]=faDolly size="8x" [fixedWidth]="true" [styles]="{'color': '#f94116'}">
                        </fa-icon>
                    </span>
                </div>
            </div>
            <div (click)="router.navigate(['/traslados-sin-voluntario']);" class="col pb-2"
                title="Ver traslados sin voluntario asignado" style="cursor: pointer;">
                <div class="container p-3 border rounded-lg bg-dark">
                    <div class="text-white mb-2">+ Ver traslados sin voluntario asignado</div>
                    <span class='inline '>
                        <fa-icon class="" [icon]=faUserClock size="8x" [fixedWidth]="true"
                            [styles]="{'color': '#f94116'}">
                        </fa-icon>
                    </span>
                </div>
            </div>
            <div class="w-100"></div>
            <div (click)="router.navigate(['/ver-stock']);" class="col" title="Ver stock" style="cursor: pointer;">
                <div class="container p-3 border rounded-lg bg-dark">
                    <div class="text-white mb-2">+ Ver stock</div>
                    <span class='inline'>
                        <fa-icon class="" [icon]=faCubes size="8x" [fixedWidth]="true" [styles]="{'color': '#f94116'}">
                        </fa-icon>
                    </span>
                </div>
            </div>
            <div (click)="router.navigate(['/registrar-beneficiario']);" class="col" style="cursor: pointer;"
                title="Registrar Beneficiario">
                <div class="container p-3 border rounded-lg bg-dark">
                    <div class="text-white mb-2">+ Registrar beneficiario</div>
                    <span class='inline '>
                        <fa-icon class="" [icon]=faPizzaSlice size="8x" [fixedWidth]="true"
                            [styles]="{'color': '#f94116'}">
                        </fa-icon>
                    </span>
                </div>
            </div>
            <!--
    <div (click)="router.navigate(['/RUTA']);" class="col"  title="Opciones de seguridad">
    	<div class="container p-3 border rounded-lg bg-dark">
            <div class="text-white mb-2">+ Opciones de seguridad</div>  
                <span class='inline ' >
                    <fa-icon  class="" [icon]=faKey size="8x" [fixedWidth]="true" [styles]="{'color': '#f94116'}"></fa-icon>
                </span>
        </div>
    </div>
    -->
        </div>
    </div>
    <section class="card-footer text-center mt-2">
		<button class="btn btn-outline-orange" (click)="this._location.back()">Volver</button>
    </section>
</div>



<!--
	 faDolly=faDolly;
	 faUserClock=faUserClock;
	 faCubes=faCubes
	 faKey=faKey;
	 -->