<div class="card border-secondary mb-4 container mt-5" id="contenedor">
    <section class="card-header text-center bg-gradient-dark rounded-top text-white">
		<h3>Mis donaciones</h3>
    </section>
    <div class="card-body">
        <div class="container border rounded">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="text-center">
                        <!--  <th scope="col">id</th> -->
                        <th scope="col">Descripción</th>
                        <th scope="col">Voluntario</th>
                        <th scope="col">Fecha de traslado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let donacion of datosDeDonaciones| paginate: { itemsPerPage: 10, currentPage: p }"
                    class="text-center">
                    <tr>
                        <!-- <td>{{donacion[1]}}</td> -->
                        <td>{{donacion[2]}}</td>
                        <td>{{donacion[3]}}</td>
                        <td>{{donacion[4] | date: 'dd/MM/yyyy' }}</td>
                        <td>
                            <button *ngIf="donacion[6].estado=='nueva'" (click)="this.cancelarDonacion(donacion);"
                                title="Cancelar donacion">❌</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
    </div>
    <section class="card-footer d-flex justify-content-center p-3 mt-4">
        <button class="btn btn-orange" (click)="this.router.navigate(['/home']);">Volver</button>
    </section>
</div>