<div class="form-box container-fluid p-5 pt-1">
	<p class="form-control"> Ingrese los datos de un producto que desee agregar al stock, en caso de que no desee agregar más presione "agregar y salir" </p>

	<form  [formGroup]="form" >
		<div class="form-group">
			<label for="nombre">Nombre</label><br>
			<input class="form-control" type="text" formControlName="nombre" name="nombre" value="">
			<div *ngIf="nombre.invalid && nombre.touched">
               	<small class="text-danger">Debe ingresar un nombre para el producto</small>
            </div>
		</div>

		<div class="form-group">
			<label for="categoria">Categoría</label><br>
			<!-- Select de categorias --->
			<select class="form-control" name="categoria" formControlName="categoria">
			  <option *ngFor="let cate of this.categorias" value="{{cate.id}}">{{cate.nombre}}</option>
			</select>
			<div *ngIf="categoria.invalid && categoria.touched">
                <small class="text-danger">Debe seleccionar una categoría</small>
            </div>
		</div>

		<div class="form-group">
			<label for="cant">Cantidad</label><br>
			<!-- Input int --->
			<input class="form-control" type="number" min="0" formControlName="cant" name="cant" value="">
			<div *ngIf="cant.invalid && cant.touched">
                <small class="text-danger">Debe ingresar la cantidad de productos</small>
            </div>
		</div>

		<div class="form-group">
			<label for="vto">Vencimiento</label><br>
			<!-- Date picker --->
			<input class="form-control" type="date" formControlName="vto" name="vto" value="">
			<div *ngIf="vto.invalid && vto.touched">
            	<small class="text-danger">Debe ingresar la fecha de vencimiento</small>
            </div>
		</div>

		<div class="form-group">
			<label for="peso">Peso en kilogramos</label><br>
			<!-- Input real --->
			<input class="form-control" type="number" step="0.001" min="0" formControlName="peso" name="peso" value="">
			<div *ngIf="peso.invalid && peso.touched">
            	<small class="text-danger">Debe ingresar el peso unitario</small>
			</div>

		</div>


		<br><br><br>

		<input class="btn btn-dark" (click)="submitProduct(false)" [disabled]="!form.valid" value="Agregar">
		<input class="btn btn-dark ml-1" (click)="submitProduct(true)" [disabled]="!form.valid" value="Agregar y salir">

	</form> 
</div>
