<div class="container card border-secondary">
	<section class="card-header text-center bg-gradient-dark rounded-top text-white">
		<h3>Datos del producto</h3>
	</section>

	<div class="form-box container-fluid p-4 card-body">
		<form [formGroup]="form" class="ml-3 mr-3 pt-3" id="formProducto">
			<div class="form-group">
				<label for="nombre">Nombre</label><br>
				<input class="form-control" type="text" formControlName="nombre" name="nombre" value="" placeholder="Fideos">
				<div *ngIf="nombre.invalid && nombre.touched">
					<small class="text-danger">Debe ingresar un nombre para el producto</small>
				</div>
			</div>

			<div class="form-group">
				<label for="categoria">Categoría</label><br>
				<!-- Select de categorias --->
				<select class="form-control" name="categoria" formControlName="categoria">
					<option *ngFor="let cate of this.categorias" value="{{cate.id}}">{{cate.nombre}}</option>
				</select>
				<div *ngIf="categoria.invalid && categoria.touched">
					<small class="text-danger">Debe seleccionar una categoría</small>
				</div>
			</div>

			<div class="form-group">
				<label for="cant">Cantidad</label><br>
				<!-- Input int --->
				<input class="form-control" type="number" min="0" formControlName="cant" name="cant" value="" placeholder="38">
				<div *ngIf="cant.invalid && cant.touched">
					<small class="text-danger">Debe ingresar la cantidad de productos</small>
				</div>
			</div>

			<div class="form-group">
				<label for="vto">Vencimiento</label><br>
				<!-- Date picker --->
				<input class="form-control" type="date" formControlName="vto" name="vto" value="">
				<div *ngIf="vto.invalid && vto.touched">
					<small class="text-danger">Debe ingresar la fecha de vencimiento</small>
				</div>
			</div>

			<div class="form-group">
				<label for="peso">Peso en kilogramos</label><br>
				<!-- Input real --->
				<input class="form-control" type="number" step="0.001" min="0" formControlName="peso" name="peso" value=""
					placeholder="23">
				<div *ngIf="peso.invalid && peso.touched">
					<small class="text-danger">Debe ingresar el peso unitario</small>
				</div>

			</div>
			<label class="font-italic">*Ingrese los datos del producto que desea agregar al stock. En caso que no desee
				agregar más productos, presione "Agregar y salir". </label>
		</form>
	</div>
	<section class="card-footer d-flex justify-content-center mt-4 p-3">
		<button class="btn btn-outline-orange mr-2" (click)="this._location.back()">Volver</button>
		<button class="btn btn-orange" (click)="submitProduct(false)" [disabled]="!form.valid">Agregar</button>
		<button form="formProducto" class="btn btn-orange ml-2" (click)="submitProduct(true)" [disabled]="!form.valid">Agregar y
			salir</button>
	</section>
</div>