<div class="card mb-4 container" id="contenedor">
	<div class="card-header text-center bg-gradient-dark rounded-top text-white">
		<h2>Datos del envío</h2>
	</div>
	<form (ngSubmit)="onSubmit()" [formGroup]="formEnvio" class="card-body" id="formEnvio">
		<section>
			<nav>
				<div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
					<h4>
						<a class="nav-link pointer active mt-3" id="navEnviarDonacion"
							onclick="toggleClasses(enviarDonacion,enviarStock,['show','active']); toggleClasses(navEnviarDonacion,navEnviarStock,['active'])">
							A partir de una donación..
						</a>
					</h4>
					<h4>
						<a class="nav-link pointer mt-3" id="navEnviarStock"
							onclick="toggleClasses(enviarStock,enviarDonacion,['show','active']); toggleClasses(navEnviarStock,navEnviarDonacion,['active'])">
							A partir de stock..
						</a>
					</h4>
				</div>
			</nav>

			<div class="overflow-auto w-75 mx-auto tab-content border rounded" id="nav-tabContent"
				style='height: 250px'>
				<div class="tab-pane fade show active" id="enviarDonacion" role="tabpanel">
					<app-nuevo-envio-seleccionar-donacion (enviarIdDonacion)="onEnviarIdDonacion($event)">
					</app-nuevo-envio-seleccionar-donacion>
				</div>
				<div class="tab-pane fade" id="enviarStock" role="tabpanel">
					<app-nuevo-envio-a-partir-de-stock (enviarProductos)="onEnviarProductosDelStock($event)">
					</app-nuevo-envio-a-partir-de-stock>
				</div>
			</div>


		</section>

		<div class="mt-4 d-flex align-items-center justify-content-around">
			<div>
				<label class="mr-2 font-weight-bold h5">Seleccione el beneficiario:</label>
				<mat-form-field appearance="fill" id="select" class="selectpicker">
					<mat-label>Beneficiarios</mat-label>
					<mat-select [(value)]="beneficiarioSeleccionado">
						<mat-option *ngFor="let unBeneficiario of beneficiarios" [value]="unBeneficiario.id"
							(click)="seleccionarBeneficiario(unBeneficiario.id) ">
							{{unBeneficiario.username}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-checkbox class="ml-2 font-weight-bold h5" labelPosition="before" color="primary"
					formControlName="checkRetiraBeneficiario" id="retiraBeneficiario">¿El beneficiario retira la
					donación?</mat-checkbox>
			</div>
		</div>

		<mat-divider></mat-divider>

		<div class="d-flex align-items-center justify-content-center mt-4">
			<label class="mr-2 font-weight-bold h5" for="descripcionGeneral">Descripción general del envio:</label>
			<textarea class="form-control w-50 mb-2" id="descripcionGeneral" formControlName="descripcion" rows="2"
				placeholder="Información que será útil para el voluntario"></textarea>
		</div>
		<mat-divider></mat-divider>

		<div class="d-flex align-items-center justify-content-center mt-4">
			<label class="mr-2 font-weight-bold h5" for="descripcionGeneral">Fecha del 1<sup>er</sup>
				vencimiento</label>
			<mat-form-field appearance="fill">
				<mat-label>Selecciona una fecha</mat-label>
				<input matInput [matDatepicker]="picker1" formControlName="fechaVencimiento" [min]="minDate">
				<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
				<mat-datepicker #picker1></mat-datepicker>
			</mat-form-field>
		</div>
		<mat-divider></mat-divider>

		<div class="mt-5">
			<p class="font-weight-bold h4 text-center">Dimensiones y peso del envio:</p>
			<table class="table mb-2 mt-3">
				<thead class="thead-gray">
					<tr>
						<th>Alto</th>
						<th>Ancho</th>
						<th>Largo</th>
						<th>Peso</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input formControlName="alto" type="text" class="form-control" id="inputAlto"
								placeholder="Metros de alto">
						</td>
						<td>
							<input formControlName="ancho" type="text" class="form-control " id="inputAncho"
								placeholder="Metros de ancho">
						</td>
						<td>
							<input formControlName="largo" type="text" class="form-control " id="inputLargo"
								placeholder="Metros de largo">
						</td>
						<td>
							<input formControlName="peso" type="text" class="form-control " id="inputPeso"
								placeholder="Peso aprox. en kg">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<div class="card-footer d-flex justify-content-center mt-4">
		<button class="btn btn-outline-orange mr-2" (click)="this.router.navigate(['/panel-de-control']);">Volver</button>
		<button class="btn btn-orange" type="submit" form="formEnvio">Enviar</button>
	</div>
</div>