<div class="card border-secondary mb-4 container mt-5" id="contenedor">
   
    <div class="card-body">
        <div class="container">           
            <section class="alert alert-dismissible alert-dark mt-3">
                    Donaciones en curso
                </section>
                <table class="table table-hover table-bordered table-center">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Donante</th>
                            <th scope="col">Alto</th>
                            <th scope="col">Ancho</th>
                            <th scope="col">Largo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Asignado a (Voluntario)</th>
                            <th scope="col">Fecha de traslado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>Arcor </td>
                            <td>23</td>
                            <td>34</td>
                            <td>56</td>
                            <td>40 kg de zanahorias, 120 lts de leche larga vida</td>
                            <td>Donación transportada por el propio donante </td>
                            <td>Juan Dominguez</td>
                            <td>23/11/2020</td>
                            <td><a class="btn btn-orange" href="">Modificar</a></td>
                        </tr>    
                        <tr>
                            <td>Arcor </td>
                            <td>24</td>
                            <td>12</td>
                            <td>88</td>
                            <td>50 kg de manzanas zanahorias</td>
                            <td>Sin asignar </td>
                            <td>Juan Dominguez</td>
                            <td>23/11/2020</td>
                            <td><a class="btn btn-orange" href="">Modificar</a></td>
                        </tr>              
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <div class="form-group text-center mt-5">
                <button class="btn btn-orange mr-4" (click)="this.router.navigate(['/home']);">Salir</button>              
            </div>
        </div>
    </div>
</div>
