<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Trochut&display=swap" rel="stylesheet">
<!-- <h2 class="text-center mb-2 text-uppercase" style="font-family: 'Josefin Sans', sans-serif;">Registro del beneficiario</h2> -->
<div class="container card border-secondary">
	<section class="card-header text-center bg-gradient-dark rounded-top text-white">
		<h3>Datos del beneficiario</h3>
	</section>
	<form class="ml-3 mr-3" (ngSubmit)="onSubmit()" [formGroup]="registrarBeneficiario">
		<section class="pl-4 pt-4 mr-4">
			<div class="form-group">
				<label for="nombreOrganizacion" id="labelNombreOrganizacion">Nombre de organización:</label>
				<input required formControlName="nombreOrganizacion" type="text" class="form-control"
					id="inputNombreOrganizacion" placeholder="Ej. Comedor Nuevo Sol">
				<div *ngIf="nombreOrganizacion.invalid && nombreOrganizacion.touched ">
					<small class="text-danger">Debe ingresar el nombre de la organización</small>
				</div>
				<!-- <div *ngIf="direccion.touched">
							<small class="text-danger">El nombre de la organización es obligatorio</small>
						</div> -->
			</div>

			<div class="form-group">
				<label for="direccion" id="labelDireccion">Dirección:</label>
				<input required formControlName="direccion" type="text" class="form-control" id="inputDireccion"
					placeholder="Ej. La plata, Calle 12 Numero 3456 ">
				<div *ngIf="direccion.invalid && direccion.touched ">
					<small class="text-danger">Debe ingresar la dirección</small>
				</div>
			</div>


			<div class="form-group col-xs-2">
				<label for="cantidadAtendidos" id="labelCantidadAtendidos">Cantidad de personas que atiende:</label>
				<input required formControlName="cantidadAtendidos" type="number" class="form-control"
					id="inputCantidadAtendidos" placeholder="50">
				<div *ngIf="cantidadAtendidos.invalid && cantidadAtendidos.touched">
					<small class="text-danger">Debe ingresar la cantidad de personas que atiende</small>
				</div>
			</div>


			<div class="form-group mt-5">
				<label id="labelEmail" for="email">Email:</label>
				<input required [class.is-invalid]="emailIsInvalid" formControlName="email" type="email" class="form-control"
					id="inputEmail" placeholder="contacto@comedornuevosol.com">
				<div *ngIf="emailIsInvalid">
					<small class="text-danger">Debe ingresar un email</small>
				</div>
				<div *ngIf="email.invalid && email.touched">
					<small class="text-danger">Debe ingresar un correo con el formato mi@correo.com</small>
				</div>
			</div>


			<div class="form-group">
				<label id="labelPassword" for="password">Clave:</label>
				<input required formControlName="password" type="password" class="form-control" id="inputPassword">
				<div *ngIf="password.invalid && password.touched">
					<small class="text-danger">Debe ingresar una contraseña</small>
				</div>
			</div>


			<div class="form-group">
				<label id="labelPasswordConfirm" for="passwordConfirm">Confirmar clave:</label>
				<input required [class.is-invalid]="passwordsNotEquals" formControlName="passwordConfirm" type="password"
					class="form-control" id="inputPasswordConfirm">
				<div *ngIf="passwordConfirm.invalid && passwordConfirm.touched">
					<small class="text-danger">Debe ingresar la confirmación de la contraseña</small>
				</div>
				<div *ngIf="passwordsNotEquals">
					<small class="text-danger">Las contraseñas ingresadas no coinciden</small>
				</div>
			</div>
		</section>
	</form>
	<div class="card-footer d-flex justify-content-center p-3 mt-4">
		<button class="btn btn-outline-orange" (click)="this._location.back()">Volver</button>
		<button [disabled]="!registrarBeneficiario.valid" class="btn btn-orange ml-2" type="submit">Guardar</button>
		<!-- <div *ngIf="!registrarBeneficiario.valid">
				<small class="text-danger">Aun no se puede registrar el beneficiario, hay campos invalidos, o requeridos sin completar</small>
			</div> -->
	</div>
</div>